<nav class="toolbar" role="banner">
  <span>{{appName}}</span>
</nav>

<div class="container">
  <div class="output-container">
      <div class="rial-price-output">Price: <strong>{{rialValue}}</strong> <small> rial</small></div>
      <div class="usd-price-output">USD: <strong>{{usdValue}}</strong> <small> USD</small></div>
  </div>
  <input type="number" class="usd-price-input" [(ngModel)]="usdValueInput" placeholder="Enter USD price..." />
  <button class="btn-convert" (click)="fetchPrice()">Convert</button>
</div>
<router-outlet></router-outlet>
